<div class="banner">
  <img src="../img/pngwing.com.png" alt="" />
</div>

<section class="main">
<div class="introducao">
  <h1>BOAS-VINDAS A MAGIC: THE GATHERING</h1>
  <br>
  <h3>
    Magic é um jogo de cards colecionáveis com partidas repletas de diversão e
    estratégia, para jogar com amigos de todas as idades. Ideal para
    construtores de mundos, fãs de narrativas e entusiastas de jogos, Magic tem
    algo para todos, com inúmeras formas de jogar. Quer você esteja na mesa da
    cozinha, jogando on-line ou participando de batalhas em competições de alto
    nível, haverá sempre um lugar para você no mundo de Magic: The Gathering.
    <br />
    1. ENCONTRE AMIGOS E COMUNIDADES Reunir-se é metade da diversão! Traga sua
    turma ou faça novas amizades!
    <br />
    2. DESCUBRA NOVOS MUNDOS Um Multiverso de aventuras está à sua espera,
    repleto de personagens poderosos e inesquecíveis e mágicas para explorar.
    <br />
    3. AUMENTE O NÍVEL DA SUA ESTRATÉGIA Teste suas habilidades para pensar
    rápido e divirta-se em um campo de batalha cheio de possibilidades!
    Experimente novas estratégias com decks criativos ou teste suas habilidades
    para conquistar a vitória.
  </h3>
</div>

<div id="art1" class="articles_">
  <div ng-repeat="x in ListaArtigos" class="Artigo_sq">
    <h2>{{x.Titulo}}</h2>
    <br>
    <h3>{{x.Autor}}</h3>
    <br>
    <article>{{x.Premissa}}</article>
    <a href="http://127.0.0.1:5500/index.html#!/leitura/{{x.id}}"
      >Continue lendo...</a
    >
  </div>
</div>
</section>
